{% extends 'shop/base_shop.html' %}
{% load static %}
{% block title %}
    Your Shopping Cart| Checkout
{% endblock %}

{% block content %}

<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="{% url 'shop:product_list' %}">Home</a></li>
        <li class="active">Check out</li>
      </ol>
    </div><!--/breadcrums-->

    <div class="step-one">
      <h2 class="heading">Step1</h2>
    </div>

    <div class="category-tab shop-details-tab"><!--category-tab-->
      <div class="col-sm-12">
        <ul class="nav nav-tabs">
          <li class="active" ><a href="#details" data-toggle="tab">National</a></li>
          <li><a href="#companyprofile" data-toggle="tab">International</a></li>

        </ul>
      </div>
      <div class="tab-content">

        <div class="tab-pane fade active in" id="details" >
          <div class="col-sm-12">
            <div class="register-req">
              <p>National transaction is in CAMEROON only. Method of Payment Operational is MTN Mobile Money</p>
            </div><!--/register-req-->


            <div class="shopper-informations">
              <div class="row">
                <div class="col-sm-3">
                  <div class="shopper-info">
                    <p>Shopper Information</p>
                    <form>

                      <input type="text" placeholder="User Name">
                      <input type="password" placeholder="Password">
                      
                    </form>
                    <a class="btn btn-primary" href="">Get Quotes</a>
                    <a class="btn btn-primary" href="">Continue</a>
                  </div>
                </div>
                <div class="col-sm-5 clearfix">
                  <div class="bill-to">
                    <p>Bill To</p>
                    <div class="form-one">
                      <form>

                        <input type="text" placeholder="Address 1 *">
                        <input type="text" placeholder="Address 2">
                      </form>
                    </div>
                    <div class="form-two">
                      <form>

                        <input type="text" placeholder="Mobile Phone">

                      </form>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
      						<div class="order-message">
      							<p>Shipping Order</p>
      							<textarea name="message"  placeholder="Notes about your order, Special Notes for Delivery" rows="16"></textarea>
      							<label><input type="checkbox"> Shipping to bill address</label>
      						</div>
      					</div>
              </div>
            </div>
          </div>
      </div>













        <div class="tab-pane fade in" id="companyprofile" >
          <div class="col-sm-12">
            <div class="register-req">
              <p>!!!!!International Trading not operational yet</p>
            </div><!--/register-req-->

            <div class="payment-options">
                <span>
                  <label><input type="checkbox"> Direct Bank Transfer</label>
                </span>
                <span>
                  <label><input type="checkbox"> Check Payment</label>
                </span>
                <span>
                  <label><input type="checkbox"> Paypal</label>
                </span>
              </div>

            <div class="shopper-informations">
              <div class="row">
                <div class="col-sm-3">
                  <div class="shopper-info">
                    <p>Shopper Information</p>
                    <form>
                      <input type="text" placeholder="Display Name">
                      <input type="text" placeholder="User Name">
                      <input type="password" placeholder="Password">
                      <input type="password" placeholder="Confirm password">
                    </form>
                    <a class="btn btn-primary" href="">Get Quotes</a>
                    <a class="btn btn-primary" href="">Continue</a>
                  </div>
                </div>
                <div class="col-sm-5 clearfix">
                  <div class="bill-to">
                    <p>Bill To</p>
                    <div class="form-one">
                      <form>
                        <input type="text" placeholder="Company Name">
                        <input type="text" placeholder="Email*">
                        <input type="text" placeholder="Title">
                        <input type="text" placeholder="First Name *">
                        <input type="text" placeholder="Middle Name">
                        <input type="text" placeholder="Last Name *">
                        <input type="text" placeholder="Address 1 *">
                        <input type="text" placeholder="Address 2">
                      </form>
                    </div>
                    <div class="form-two">
                      <form>
                        <input type="text" placeholder="Zip / Postal Code *">
                        <select>
                          <option>-- Country --</option>
                          <option>United States</option>
                          <option>Bangladesh</option>
                          <option>UK</option>
                          <option>India</option>
                          <option>Pakistan</option>
                          <option>Ucrane</option>
                          <option>Canada</option>
                          <option>Dubai</option>
                        </select>
                        <select>
                          <option>-- State / Province / Region --</option>
                          <option>United States</option>
                          <option>Bangladesh</option>
                          <option>UK</option>
                          <option>India</option>
                          <option>Pakistan</option>
                          <option>Ucrane</option>
                          <option>Canada</option>
                          <option>Dubai</option>
                        </select>
                        <input type="password" placeholder="Confirm password">
                        <input type="text" placeholder="Phone *">
                        <input type="text" placeholder="Mobile Phone">
                        <input type="text" placeholder="Fax">
                      </form>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
      						<div class="order-message">
      							<p>Shipping Order</p>
      							<textarea name="message"  placeholder="Notes about your order, Special Notes for Delivery" rows="16"></textarea>
      							<label><input type="checkbox"> Shipping to bill address</label>
      						</div>
      					</div>
              </div>
            </div>
          </div>
        </div>









      </div>
    </div><!--/category-tab-->















  </div>
</section> <!--/#cart_items-->




    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8">
                <h4 class="page-header">Checkout</h4>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}<br>
                    <input type="submit" class="btn btn-primary" value="Submit order">
                </form>
            </div>
            <div class="col-md-4">
                <div class="page-header">
                    Your Order
                </div>
                <ul class="list-group">
                    {% for item in cart %}
                        <li class="list-group-item">
                        {{ item.quantity }}x {{ item.product.name }}
                        <span>Kshs. {{ item.total_price }}</span>
                        </li>
                    {% endfor %}

                <li class="list-group-item active">Total Cost: kshs. {{ cart.get_total_price }}</li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}
